<footer class="center">
  <div class="measure">
    <small>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> Subscribe to the <a href="/feed.xml">RSS feed.</a>
    </small>
    <br />
      <a href="https://xn--sr8hvo.ws/%F0%9F%8D%AE%F0%9F%90%88%E2%9D%8C/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8D%AE%F0%9F%90%88%E2%9D%8C/next">→</a>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
